.custom-button {
    /*-fx-font: 11px "Serif";*/
    /*-fx-padding: 5;*/
    -fx-background-color: #CCFF99;
}

.root{
    /*-fx-font-size: 11pt;*/
    /*-fx-font-family: "Courier New";*/
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}
